.modaly-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    visibility: visible;
    width: 100vw;
    height: 100vh;

    transition: all var(--duration) var(--animation);
}

.modaly-wrapper::before {
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: var(--background);
    opacity: var(--opacity);
}

.modaly-hidden {
    visibility: hidden;
    opacity: 0;
}
